:root {
    --color-primary: orange;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.7);
    --color-black: #000;
    --color-bg: #2151a1;
    --color-bg1: #043282;
    --color-bg2: #1364ef;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    
}
nav{
    background: rgb(0,14,98);
}
.courses{
    margin-top: 1rem;
} 