
:root {
    --color-primary: orange;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #ffffff;
    --color-light: rgb(255, 255, 255);
    --color-black: #000;
    --color-bg: #2151a1;
    --color-bg1: rgb(0,14,98);
    --color-bg2: #1364ef;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;
    
}
nav{
    background: var(--color-bg1);
}
.contact_container{
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/*---------ASIDE--------------------------*/

.contact_aside{
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside_image{
    width: 12rem;
    margin-bottom: 2rem;
}
.contact_aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contact_aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact_detail li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
} 

.contact_social{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_social a{
   background: var(--color-bg2);
   padding: 0.5rem;
   border-radius: 50%;
   font-size: 0.9rem;
   transition: var(--transition);

}

.contact_social a:hover{
    background: transparent;
}

/*---------FORM--------------------------*/

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form_name{
    display: flex;
    gap: 1.2rem;
}

.contact_form input[type="text"]{
    width: 50%;
    color: aliceblue;
}

input, textarea{
    width: 100%;
    padding: 1rem;
    background: var(--color-bg);
    color: var(--color-white);
}
.contact_form .btn{ 
    width: max-content;
    padding: 1rem;
    cursor: pointer;
}

 /*===============================MEDIA QUERIES FOR TABLET====================================*/

 @media screen and (max-width:1024px) {
   
    .container{
       width: var(--container-width-md);
    }

    .contact_container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact_form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

 /*===============================MEDIA QUERIES FOR PHONE====================================*/

 @media screen and (max-width:600px){

    .container{
        width: var(--container-width-sm);     
    }
    
    .contact_container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact_form{
        margin: 0 1.5rem 3rem;
    }
    .form_name{
        flex-direction: column;
    }

    .form_name input[type = "text"]{
        width: 100%;
    }
}